<!DOCTYPE html>
<html>
  <head>
    <title>Safari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="about">
    <h1>World Safari Tours</h1>
    <a class="navbar-brand" href="#">new location</a>
    
  

  </div>



  

    <%= yield %>
  </body>
</html>
